
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    left: 10%;
    right: 10%;
    background: #252422;
    min-height: 5vh;
    width: 80vw;
    color: #fffcf2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo, .directory {
    color: #fffcf2;
    padding: 0.8em 2em;
}

a {
    color: #fffcf2;
    text-decoration: none;
    padding-left: 0.5em;
}

.navbar a:hover {
    color: #eb5e28;
}

@media screen and (max-width: 1024px) {
    body {
        flex-direction: column;
    }
}